#this is demo config file
#edit your values and rename as pentaho.config

#local location of https://github.com/dbmi-pitt/faersdbstats repo
FAERSDBSTATS_REPO_LOCATION=/path/to/your/repo/folder

#Orange book data download link location
CEM_ORANGE_BOOK_DOWNLOAD_URL=https://www.fda.gov/media/76860/download

#Default is data in the root of the repo
CEM_DOWNLOAD_DATA_FOLDER=data